.highlight-chirripo {
    color: #313437;
    background-color: #FFF;
    padding: 50px 0 55px;
    overflow: hidden;
  }

  .highlight-chirripo {
    text-align: center;
  }

  .highlight-chirripo p {
    color: #5c6165;
  }

  .highlight-chirripo h2 {
    font-weight: bold;
    margin-bottom: 35px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
  }

  .highlight-chirripo .intro {
    font-size: 18px;
    line-height: 1.5;
  }

  @media (max-width:767px) {
    .highlight-chirripo .intro {
      max-width: none;
    }
  }

  .highlight-chirripo .intro p {
    margin-bottom: 35px;
  }

  .highlight-chirripo .intro .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
  }

  .highlight-chirripo .intro .btn {
    &:hover, &:focus {
      opacity: 1;
    }
  }

  .highlight-chirripo .intro .btn:active {
    transform: translateY(1px);
  }

  .highlight-chirripo .intro .btn-primary {
    background-color: #1E680F;
    color: #fff;
  }

  .highlight-chirripo .intro .btn-outline-primary {
    color: #1E680F;
    border: 1px solid #1E680F;
    opacity: .8;
  }

  .highlight-chirripo .highlight-logo-wrapper {
    margin: 0 auto;
    order: 1;
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      position: relative;
      margin-bottom: -230px;
      order: 2;
    }
  }

  .highlight-chirripo .highlight-text-wrapper {
    order: 2;
    @include media-breakpoint-up(md) {
      order: 1;
    }
  }

  .highlight-chirripo .chirripo-logo img.logo {
    width: 100%;
    height: auto;
  }

  .highlight-chirripo .chirripo-logo .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg?h=e28e1542c3e36104806ee55549d60f98);
    background-size: cover;
    background-position: center;
  }

  .highlight-chirripo .chirripo-logo .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
  }
